[default]
access_key = YOUR_ACCESS_KEY_HERE
secret_key = YOUR_SECRET_KEY_HERE
bucket_location = sfo3
host_base = sfo3.digitaloceanspaces.com
host_bucket = %(bucket)s.sfo3.digitaloceanspaces.com
use_https = True
acl_public = True
# To install s3cmd on Windows:
# 1. Install Python from python.org
# 2. Open terminal and run: pip install s3cmd
# 3. Usage: s3cmd sync --acl-public public/assets/cards/tarot/ s3://tarot/
